<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather-icon.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Somran Aktar. it uses mapbox.com and weatherstack.com!</p>
            <img class="portrait" src="/img/pp.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>